<header class="header">
    <div class="rectangle">
        <svg width="1216" height="736" viewBox="0 0 1216 736" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0H1V736H0V0Z" fill="white" fill-opacity="0.05"/>
        <path d="M152 0H153V736H152V0Z" fill="white" fill-opacity="0.05"/>
        <path d="M304 0H305V736H304V0Z" fill="white" fill-opacity="0.05"/>
        <path d="M456 0H457V736H456V0Z" fill="white" fill-opacity="0.05"/>
        <path d="M608 0H609V736H608V0Z" fill="white" fill-opacity="0.05"/>
        <path d="M760 0H761V736H760V0Z" fill="white" fill-opacity="0.05"/>
        <path d="M912 0H913V736H912V0Z" fill="white" fill-opacity="0.05"/>
        <path d="M1064 0H1065V736H1064V0Z" fill="white" fill-opacity="0.05"/>
        <path d="M1215 0H1216V736H1215V0Z" fill="white" fill-opacity="0.05"/>
        </svg>
        </div>
    <div class="background">
            <img src="/img/background.svg">
    </div>
    <div class="message-banner-mobile">
         <p class="title">Training courses</p>
         <p class="subtitle">Kernel and Embedded Linux</p>
         <a class="message-link" target="_blank" href="https://bootlin.com/training/"></a>
    </div>
    <h1>
        <img src="/img/logo.svg" alt="ELIXIR"/>
    </h1>
    <h2></h2>
</header>
